<!-- <ion-header>
  <ion-toolbar>
    <ion-title>about-us</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <h1>Regarding The Act Now application</h1>
  <p> This application is under development and not associated with any governmental officials.</p>

  <ion-grid>
    <h2>Current Developers working under this application</h2>
    <ion-row>
      <ion-col><h3>David Oppong</h3>
        <a href="https://www.linkedin.com/in/davidoppong/"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>
        <a href="https://github.com/dave791"><ion-icon style="color:white;" size="large" name="logo-github"></ion-icon></a>
      </ion-col>
      <ion-col>
        <h3>Tomas Chavez</h3>
        <a href="https://www.linkedin.com/in/tomas-chavez/"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>
        <a href="https://github.com/TomasChavez"><ion-icon style="color:white" size="large" name="logo-github"></ion-icon></a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>